/* write your css here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}
body {
  margin: 0 auto;
  margin-top: 50px;
  width: 1200px;
  font-family: sans-serif;
  color: #343a40;
  text-align: start;    
}
header{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 750px;
    align-self: center;
    text-align: center;
    margin-bottom:50px ;
}
.pricing{
    color: #5271EF;
}
.head{
    font-weight: bold;
    font-size: 48px;
    width: 100%;
}
.head-describe{
    text-align: center;
}
.subscription-tags{
    display: flex;
    align-self: center;
    justify-content: center;
    /* justify-content: space-between; */
}
.head-tag{
    font-size: medium;
    font-weight: bold;   
}
.price-tag{
    color: #B4B2B2;
    display: flex;
    align-items: baseline;
    justify-items: baseline;
}
.price-container{
    margin: 10px 20px;
    width: 330px;
}
.price{
    color: #000;
    font-weight: bold;
    font-size: 32px;
}
hr{
    padding: 15% 0;
    border-left: 1px solid #ede6e6;
    /* color: #dadddf;
    background-color: #dcd6d6; */
}
.buy-button{
    background-color: #5555d1;
    color: #FFF;
    justify-self:start;
    text-align: center;
    margin-right: 25px;
    padding: 5px 0px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.buy-button:hover{
    background-color: #5271EF;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
ul li svg{
    margin-right: 12px;
    height:16px;
    width: 16px;
    fill: #4848E0;
}
li{
    font-size: 16px;
    color: #B4B2B2;
}