* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}
body {
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  width: 1200px;
  font-family: sans-serif;
  color: #343a40;
  display: flex;
  text-align: start;
}
img {
  height: 599px;
  scale: 1;
}
img:hover{
  opacity: 0.8;
}
.section {
  display: flex;
  width: 50vw;
  height: 599px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101826;
}
.content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 350px;
}
.sub-head {
  justify-self: center;
  color: #7c8df4;
  font-size: small;
  text-align: start;
}

.main-head {
  font-weight: bold;
  color: #fff;
}
.description {
  margin-top: 20px;
  color: #acb0b8;
  font-size: smaller;
  margin-bottom: 30px;
}
.button {
  width: max-content;
  background-color: #28303c;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
}
.button:hover{
  background-color: #343a40;
  cursor: pointer;
}